<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>hw-2</title>
</head>
<body>
<div style="background-color: antiquewhite; margin-bottom: 10px;">

    Id:
    <div>{{userWithId.id}}</div>
    First name:
    <div>{{userWithId.firstName}}</div>
    Last name:
    <div>{{userWithId.lastName}}</div>
    Email:
    <div>{{userWithId.email}}</div>
    Password:
    <div>{{userWithId.password}}</div>
    Age:
    <div>{{userWithId.age}}</div>
    City:
    <div>{{userWithId.city}}</div>

</div>
</body>
</html>